$bg: #111;
$white: #fff;
$gray: #aaa;
$light: #f0efeb;
$border: rgba(255, 255, 255, 0.12);
$font-title: 'Bebas Neue', sans-serif;
$font-body: Manrope, sans-serif;
$max: 1260px;
$pad: 120px;
$tablet: 1024px;
$ipad: 744px;
$mobile: 480px;
$sm: 320px;
